{% extends "base.html" %}
{% block page_content %}
<div class="row">
    <div class="col m8 offset-m2">
        <div class="card hoverable">
            <div class="card-content">
                <div class="row">
                    <p>
                        3. แบบบันทึการตรวจทางห้องปฏิบัติการ
                    </p>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="patientName" data-bind="value: patientName">
                        <label for="patientName">ชื่อ สกุลผู้ป่วย</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="patientAge" data-bind="value: patientAge">
                        <label for="patientAge">อายุ</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="patientHN" data-bind="value: patientHN">
                        <label for="patientHN">HN</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="patientAN" data-bind="value: patientAN">
                        <label for="patientAN">AN</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="patientDiag" data-bind="value: patientDiag">
                        <label for="patientDiag">การวินิจฉัยโรค</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="date" class="datepicker" id="patientAdmitDate"
                            data-bind="value: patientAdmitDate">
                        <label for="patientAdmitDate">วันที่เข้า ร.พ.</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="patientDischargedDate"
                            data-bind="value: patientDischargedDate">
                        <label for="patientDischargedDate">วันที่จำหน่าย</label>
                    </div>
                </div>
                <div class="row">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>ชนิดของการตรวจทางห้องปฏิบัติการ</th>
                                <th>ผลการตรวจทางห้องปฏิบัติการครั้งที่ 1 (Admit)</th>
                                <th>ผลการตรวจทางห้องปฏิบัติการครั้งที่ 2 (Discharge/ครั้งล่าสุด)</th>
                                <th>ผลการตรวจทางห้องปฏิบัติการกรณีตรวจครั้งเดียว</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CBC พร้อมดู peripheral blood smear</td>
                                <td>
                                    <input type="text" id="lab-1-1"
                                        data-bind="value: lab1_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-1-2"
                                        data-bind="value: lab1_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-1-3"
                                        data-bind="value: lab1_3">
                                </td>
                            </tr>
                            <tr>
                                <td>Fasting plasma glucose</td>
                                <td>
                                    <input type="text" id="lab-2-1"
                                        data-bind="value: lab2_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-2-2"
                                        data-bind="value: lab2_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-2-3"
                                        data-bind="value: lab2_3">
                                </td>
                            </tr>
                            <tr>
                                <td>Electrolyte</td>
                                <td>
                                    <input type="text" id="lab-3-1"
                                        data-bind="value: lab3_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-3-2"
                                        data-bind="value: lab3_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-3-3"
                                        data-bind="value: lab3_3">
                                </td>
                            </tr>
                            <tr>
                                <td>BUN/creatinine</td>
                                <td>
                                    <input type="text" id="lab-4-1"
                                        data-bind="value: lab4_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-4-2"
                                        data-bind="value: lab4_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-4-3"
                                        data-bind="value: lab4_3">
                                </td>
                            </tr>
                            <tr>
                                <td>Liver function test</td>
                                <td>
                                    <input type="text" id="lab-5-1"
                                        data-bind="value: lab5_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-5-2"
                                        data-bind="value: lab5_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-5-3"
                                        data-bind="value: lab5_3">
                                </td>
                            </tr>
                            <tr>
                                <td>free TH4, TSH</td>
                                <td>
                                    <input type="text" id="lab-6-1"
                                        data-bind="value: lab6_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-6-2"
                                        data-bind="value: lab6_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-6-3"
                                        data-bind="value: lab6_3">
                                </td>
                            </tr>
                            <tr>
                                <td>Serum VDRL or PPR</td>
                                <td>
                                    <input type="text" id="lab-7-1"
                                        data-bind="value: lab7_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-7-2"
                                        data-bind="value: lab7_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-7-3"
                                        data-bind="value: lab7_3">
                                </td>
                            </tr>
                            <tr>
                                <td>CT scan or MRI brain</td>
                                <td>
                                    <input type="text" id="lab-8-1"
                                        data-bind="value: lab8_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-8-2"
                                        data-bind="value: lab8_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-8-3"
                                        data-bind="value: lab8_3">
                                </td>
                            </tr>
                            <tr>
                                <td>Calcium</td>
                                <td>
                                    <input type="text" id="lab-9-1"
                                        data-bind="value: lab9_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-9-2"
                                        data-bind="value: lab9_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-9-3"
                                        data-bind="value: lab9_3">
                                </td>
                            </tr>
                            <tr>
                                <td>Anti HIV</td>
                                <td>
                                    <input type="text" id="lab-10-1"
                                        data-bind="value: lab10_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-10-2"
                                        data-bind="value: lab10_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-10-3"
                                        data-bind="value: lab10_3">
                                </td>
                            </tr>
                            <tr>
                                <td>LP and CSF examination</td>
                                <td>
                                    <input type="text" id="lab-11-1"
                                        data-bind="value: lab11_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-11-2"
                                        data-bind="value: lab11_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-11-3"
                                        data-bind="value: lab11_3">
                                </td>
                            </tr>
                            <tr>
                                <td>Serum vitamin B12, folate</td>
                                <td>
                                    <input type="text" id="lab-12-1"
                                        data-bind="value: lab12_1">
                                </td>
                                <td>
                                    <input type="text" id="lab-12-2"
                                        data-bind="value: lab12_2">
                                </td>
                                <td>
                                    <input type="text" id="lab-12-2"
                                        data-bind="value: lab12_3">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="center-align">
                        <a href="{{ url_for('main') }}"
                            class="waves-effect waves-light btn">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}